services:
  scylladb:
    image: scylladb/scylla:latest
    container_name: scylla
    ports:
      - "9042:9042"
      - "9160:9160"
      - "7000:7000"
      - "7001:7001"
    volumes:
      - scylla_data:/var/lib/scylla
    environment:
      - SCYLLA_CLUSTER_NAME=chat_cluster
      - SCYLLA_DC=datacenter1
      - SCYLLA_RACK=rack1
    healthcheck:
      test: ["CMD-SHELL", "nodetool status"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    networks:
      - chat_network

  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s
    networks:
      - chat_network

  chat-service:
    build:
      context: ./chat-service
      dockerfile: Dockerfile
    container_name: chat-service
    ports:
      - "50052:50052"
    depends_on:
      scylladb:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      - RUST_LOG=info
      - SCYLLA_HOST=scylladb:9042
      - RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
      - GRPC_ADDR=[::]:50052
    healthcheck:
      test: ["CMD", "grpc_health_probe", "-addr=localhost:50052"]
    networks:
      - chat_network


  per-oxo:
    build:
      context: ./peroxo
      dockerfile: Dockerfile
    container_name: per-oxo
    ports:
      - "50051:50051"
      - "4001:3000"
    environment:
      - RUST_LOG=debug
      - GRPC_ADDR=[::]:50051
      - CHAT_SERVICE_ADDR=http://chat-service:50052
      - PER_OXO_SERVICE_ADDR=0.0.0.0:3000 
      - MAC_ADD= add your mac add here
    depends_on:
      chat-service:
        condition: service_healthy
    networks:
      - chat_network
    restart: unless-stopped

  rabbit-consumer:
    build:
      context: ./rabbit_consumer
      dockerfile: Dockerfile
    container_name: rabbit-consumer
    environment:
      - RUST_LOG=info
      - SCYLLA_HOST=scylladb:9042
      - RABBITMQ_URL=amqp://admin:password@rabbitmq:5672
    depends_on:
      rabbitmq:
        condition: service_healthy
      scylladb:
        condition: service_healthy
    
    networks:
      - chat_network

  prometheus:  
    image: prom/prometheus:latest  
    container_name: prometheus  
    ports:  
      - "9090:9090"  
    volumes:  
      - ./prometheus.yml:/etc/prometheus/prometheus.yml  
      - prometheus_data:/prometheus  
    command:  
      - '--config.file=/etc/prometheus/prometheus.yml'  
      - '--storage.tsdb.path=/prometheus'  
      - '--web.console.libraries=/etc/prometheus/console_libraries'  
      - '--web.console.templates=/etc/prometheus/consoles'  
    networks:  
      - chat_network  
    
  grafana:  
    image: grafana/grafana:latest  
    container_name: grafana  
    ports:  
      - "9091:3000"  
    volumes:  
      - grafana_data:/var/lib/grafana  
    environment:  
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin  
    networks:  
      - chat_network  
    depends_on:  
      - prometheus

volumes:
  scylla_data:
    driver: local
  rabbitmq_data:
    driver: local
  prometheus_data:  
  grafana_data:
networks:
  chat_network:
    driver: bridge